@import '_setting.scss';
.menu-item{
    display: flex;
    align-items: center;
    font-size: $font-size-menu-item;
    text-decoration: none;
    font-weight: 500;
    border-left: 3px solid transparent;
    padding: 8px 25px;
    color: $font-color;
    &.isActive{
        // background-color: $hover-background-color;
        background-color: #7b52bc;
        border-left: 3px solid #7200A1;
        
    }
    &__icon{
        font-size: 1.4rem;
        margin-right: 12px;
    }
    &:hover{
        opacity: 0.7;
        color: white;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .menu-item {
        &__title {
            display: none !important;
        }
    }
}