@import '_setting.scss';
.wrapper_left{
    width: 240px;
    .logo {
        height: $header-height;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo-img{
        display: block;
        width: 120px;
    }
    .logo-md {
        display: none;
        background-color: red;
        .logo-img-md {
            width: 80px;
            
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .wrapper_left {
        width: 80px;
        .logo-lg {
            display: none;
        }
        .logo-md {
            display: block;
        }
    }
}