.chart-container {
    header {
        .chart-header-title {
            color: white;
            font-size: 40px;
            font-weight: bold;
        }
        margin-bottom: 40px;
    }

}
@media only screen and (max-width: 768px) {

}