.container-loading{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    font-size: 40px;
}
.loading-icon {
    animation: spinner 3s linear infinite;
}
@keyframes spinner {
    from {
        transform:  rotate(0);
    }
    to {
        transform:  rotate(360deg);
    }
}